<h1 *ngIf="isAddMode">Tambah Proyek</h1>
<h1 *ngIf="!isAddMode">Edit Proyek</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-row">
    <div class="form-group col">
      <label for="name">Judul Pekerjaan</label>
      <input type="text" formControlName="name" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.name.errors?.required }" />
      <div *ngIf="submitted && f.name.errors?.required" class="invalid-feedback">
        <div *ngIf="f.name.errors?.required">Judul Pekerjaan Harus Diisi</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label for="category">Kategori</label>
      <select formControlName="category" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.category.errors?.required }">
        <option value=""></option>
        <option value="Audio, Video, Photography">Audio, Video, Photography</option>
        <option value="Games Development">Games Development</option>
        <option value="Website Development">Website Development</option>
        <option value="3D modeling & Animation">3D modeling & Animation</option>
        <option value="others">others</option>
      </select>
      <div *ngIf="submitted && f.category.errors?.required" class="invalid-feedback">
        <div *ngIf="f.category.errors?.required">Kategori Harus Diisi</div>
      </div>
    </div>
    <div class="form-group col">
      <label for="price">Harga (Rp)</label><br>
      <input type="price" formControlName="price" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.price.errors?.required }" />
      <div *ngIf="submitted && f.price.errors?.required" class="invalid-feedback">
        <div *ngIf="f.price.errors?.required">Harga is tidak valid</div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label tooltip="Berapa Lama Project Akan Muncul di List" autoPlacement="true" for="deadline">Tenggat Waktu</label>
      <input type="date" formControlName="deadline" placeholder="yyyy-MM-dd" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.deadline.errors?.required }" />
      <div *ngIf="submitted && f.deadline.errors?.required" class="invalid-feedback">
        <div *ngIf="f.deadline.errors?.required">Tenggat Waktu Harus Diisi</div>
      </div>
    </div>
    <div class="form-group col">
      <label tooltip="Berapa Lama Project Akan Dikerjakan Oleh User" autoPlacement="true" for="duration">Durasi
        Pengerjaan (Hari)</label>
      <input type="number" formControlName="duration" class="form-control"
        [ngClass]="{ 'is-invalid': submitted && f.duration.errors?.required }" />
      <div *ngIf="submitted && f.duration.errors?.required" class="invalid-feedback">
        <div *ngIf="f.duration.errors?.required">Durasi Harus Diisi</div>
      </div>
    </div>
  </div>
  <div class="form-group">
    <label for="image">Masukan Gambar</label>
    <input formControlName="image" type="file" class="form-control" (change)="onFileChange($event)">
    <div *ngIf="submitted && f.image.errors?.required" class="invalid-feedback">
      <div *ngIf="f.image.errors?.required">Gambar Harus diisi</div>
    </div>
  </div>

  <img [src]="imageSrc" *ngIf="imageSrc" style="height: 300px; width:500px">

  <div style="margin-bottom: 15px">
    <label for="remarks">Deskripsi Pekerjaan</label>
    <textarea type="text" formControlName="remarks" class="form-control"></textarea>
  </div>
  <div class="form-group">
    <button [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Simpan
    </button>
    <a routerLink="/project" class="btn btn-link">Batal</a>
  </div>
</form>