<h1 *ngFor="let project of projects">
  {{ project.ProjectName }}
</h1>
<div *ngFor="let project of projects" style="margin-top: 60px">
  <div>
    <div class="row">
      <div class="col">
        <h4>Nama Pemilik</h4>
      </div>
      <div class="col">
        <button type="button" class="btn-secondary" routerLink="/profile/{{project.OwnerID}}">Profile {{ project.OwnerName }}</button>
      </div>
    </div>
    <p style="font-size: 20px">{{ project.OwnerName }}</p>
  </div>
  <div>
    <h4>Kategori</h4>
    <p style="font-size: 20px">{{project.Category}}</p>
  </div>
  <div>
    <h4>Harga</h4>
    <p style="font-size: 20px">Rp.{{project.Price}},-</p>
  </div>
  <div>
    <h4>Durasi Pengerjaan</h4>
    <p style="font-size: 20px">{{project.Duration}}</p>
  </div>
  <div>
    <h4>Deskripsi Pekerjaan</h4>
    <p style="font-size: 20px">{{project.Remarks}}</p>
  </div>

  <img [src]="imageSrc" *ngIf="imageSrc" style="height: 700px; width:500px">

  <div class="d-flex justify-content-end">
    <button *ngIf="userId !== project.OwnerID" (click)="negoProject()" class="btn btn-md btn-info mr-1">Nego
    </button>
    <button *ngIf="userId !== project.OwnerID" (click)="takeProject()" class="btn btn-md btn-primary mr-1">Ambil Proyek
    </button>
    <a routerLink="/" class="btn btn-md btn-danger mr-1">Kembali</a>
  </div>
</div>
