<div *ngFor="let schedule of schedules">
  <h1>
    {{schedule.ProjectName}}
  </h1>
</div>
<div *ngFor="let schedule of schedules" style="margin-top: 60px">
  <div>
    <h4>Nama Owner</h4>
    <p style="font-size: 20px">{{schedule.UserName}}</p>
  </div>
  <div>
    <h4>Status</h4>
    <p style="font-size: 20px">{{schedule.Status}}</p>
  </div>
  <div>
    <h4>Kategori</h4>
    <p style="font-size: 20px">{{schedule.Category}}</p>
  </div>
  <div>
    <h4>Harga</h4>
    <p style="font-size: 20px">{{schedule.Price}}</p>
  </div>
  <div>
    <h4>Durasi Pengerjaan</h4>
    <p style="font-size: 20px">{{schedule.Duration}}</p>
  </div>

  <img [src]="imageSrc" *ngIf="imageSrc"  style="height: 700px; width:700px">

  <div class="d-flex justify-content-end" style="margin-top: 20px">
    <a routerLink="/schedule" class="btn btn-md btn-danger mr-1" >Back</a>
  </div>
</div>
