<!-- nav -->
<!-- <nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user"> -->
<nav class="navbar navbar-expand navbar-dark bg-dark">
  <div class="navbar-nav w-100 d-flex">
    
    <a class="nav-item nav-link p-2" routerLink="../" ><img src="\assets\images\logo081.png" alt="" style="width:70px;height:35px;"></a>
    <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}">Beranda</a>
    <a class="nav-item nav-link p-2" routerLink="/project" routerLinkActive="active">Proyek</a>
    <a class="nav-item nav-link p-2" routerLink="/service" routerLinkActive="active">Jasa</a>
    <a class="nav-item nav-link p-2" routerLink="/schedule" routerLinkActive="active">Jadwal</a>
    <a class="nav-item nav-link p-2" routerLink="/requestprice" routerLinkActive="active">Nego</a>
    <a class="nav-item nav-link p-2" routerLink="/profile" routerLinkActive="active">Profil</a>

    <a class="nav-item nav-link ml-auto p-2" routerLink="../account/login" title="" *ngIf="!user">Masuk</a>
    <a class="nav-item nav-link ml-auto p-2" (click)="logout() "*ngIf="user">Keluar</a>
  </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <alert></alert>
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">
  <hr>
  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">OSER - Online Jasa</h6>
        <p>Oser merupakan aplikasi pencarian kerja dalam bentuk FREELANCE yang
          memungkinkan bagi para pengguna untuk mencari dan mendapatkan pekerjaan yang
          mereka mau dimanapun dan kapanpun. Oser berusaha memberikan kemudahan dalam pencarian kerja,
          proses transaksi antar user, request pekerjaan yang diinginkan, dan masih banyak lagi.</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Produk</h6>
        <p>
          <a routerLink="../project">Proyek</a>
        </p>
        <p>
          <a routerLink="../service">Jasa</a>
        </p>
        <p>
          <a routerLink="../schedule">Jadwal</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Laman Berguna</h6>
        <p>
          <a routerLink="../faq">FAQ</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">kontak</h6>
        <!-- <p>
          Indonesia</p> -->
        <div>
          Bantuan Pelanggan:
          <p>
            kerja.oser@gmail.com
          </p>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->



    <!-- Grid row -->
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->