<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="user">
  <div class="navbar-nav">
    <a class="nav-item nav-link" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Home</a>
    <a class="nav-item nav-link" routerLink="/project" routerLinkActive="active">Project</a>
    <a class="nav-item nav-link" routerLink="/service" routerLinkActive="active">Service</a>
    <a class="nav-item nav-link" routerLink="/schedule" routerLinkActive="active">Schedule</a>
    <a class="nav-item nav-link" routerLink="/requestprice" routerLinkActive="active">Nego</a>
    <a class="nav-item nav-link" routerLink="/profile" routerLinkActive="active">profile</a>
    <a class="nav-item nav-link d-flex align-items-end" (click)="logout()">Logout</a>
  </div>
</nav>

<!-- main app container -->
<div class="app-container" [ngClass]="{ 'bg-light': user }">
  <alert></alert>
  <router-outlet></router-outlet>
</div>

<!-- Footer -->
<footer class="page-footer font-small mdb-color pt-4">
  <hr>
  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">OSER - Online Services</h6>
        <p>Oser merupakan aplikasi pencarian kerja dalam bentuk FREELANCE yang
          memungkinkan bagi para pengguna untuk mencari dan mendapatkan pekerjaan yang
          mereka mau dimanapun dan kapanpun. Oser berusaha memberikan kemudahan dalam pencarian kerja,
          proses transaksi antar user, request pekerjaan yang diinginkan, dan masih banyak lagi.</p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Products</h6>
        <p>
          <a routerLink="../project">Projects</a>
        </p>
        <p>
          <a routerLink="../service">Services</a>
        </p>
        <p>
          <a href="../schedule">Schedule</a>
        </p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Useful links</h6>
        <p>
          <a href="../faq">FAQ</a>
        </p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Contact</h6>
        <p>
          Indonesia</p>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->



    <!-- Grid row -->
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
