<div *ngFor="let schedule of schedules">
  <h1>
    {{schedule.ProjectName}}
  </h1>
</div>
<div *ngFor="let schedule of schedules" style="margin-top: 60px">
  <div class="row">
    <div class="col">
      <h4>Nama Pemilik</h4>
    </div>
    <div class="col">
      <button type="button" class="btn-secondary" routerLink="/profile/{{schedule.OwnerID}}">Profile {{ schedule.OwnerName }}</button>
    </div>
  </div>
  <div>
    <p style="font-size: 20px">{{schedule.OwnerName}}</p>
  </div>
  <div>
    <h4>Status</h4>
    <p style="font-size: 20px">{{schedule.Status}}</p>
  </div>
  <div>
    <h4>Kategori</h4>
    <p style="font-size: 20px">{{schedule.Category}}</p>
  </div>
  <div>
    <h4>Harga</h4>
    <p style="font-size: 20px">{{schedule.Price}}</p>
  </div>
  <div>
    <h4>Durasi Pengerjaan</h4>
    <p style="font-size: 20px">{{schedule.Duration}}</p>
  </div>

  <img [src]="imageSrc" *ngIf="imageSrc" style="height: 500px; width:500px">

  <div class="d-flex justify-content-end">
    <button *ngIf="reviewBtn == true" (click)="giveReview()" class="btn btn-md btn-info mr-1">
      Beri Ulasan
    </button>

    <button *ngIf="acceptBtn == true" (click)="updateScheduleStatus('1')" class="btn btn-md btn-primary mr-1">Accept
      Schedule</button>

    <button *ngIf="cancelBtn == true" (click)="updateScheduleStatus('cancel')"
      class="btn btn-md btn-danger mr-1">Batal</button>

    <button *ngIf="finnishBtn == true" (click)="updateScheduleStatus('2')" class="btn btn-md btn-primary mr-1">
      Selesai
    </button>

    <a routerLink="/schedule" class="btn btn-md btn-danger mr-1">Kembali</a>
  </div>
</div>
