<div style="margin-bottom: 20px">
  <app-schedule-by-owner></app-schedule-by-owner>
</div>

<h1>List Proyek yang Anda Ambil</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th style="width: 20%">Judul Pekerjaan</th>
      <th style="width: 15%">Nama Pemilik</th>
      <th style="width: 15%">Kategori</th>
      <th style="width: 15%">Durasi Pengerjaan</th>
      <th style="width: 15%">Harga</th>
      <th style="width: 15%">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let schedule of schedules">
      <td>{{schedule.AssignmentName}}</td>
      <td>{{schedule.OwnerName}}</td>
      <td>{{schedule.Category}}</td>
      <td>{{schedule.Duration}} Hari</td>
      <td>Rp.{{schedule.Price}},-</td>
      <td>{{schedule.status}}</td>
      <td style="white-space: nowrap">
        <a routerLink="schedule/detail/{{schedule._id}}" class="btn btn-sm btn-info mr-1">Detail</a>
      </td>

    </tr>
    <tr *ngIf="!schedules">
      <td colspan="4" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
  </tbody>
</table>
