<div class="container">
  <h1>Notif</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 15%">Notif</th>
        <th style="width: 15%">Tanggal dibuat</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let notif of notifs">
        <td>{{notif.Notif}}</td>
        <td>{{notif.CreatedDate | date}}</td>
      </tr>
      <tr *ngIf="!notifs">
        <td colspan="4" class="text-center">
          <span class="spinner-border spinner-border-lg align-center"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>