<div class="container">
  <h1>Ulasan</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th style="width: 15%">Nama</th>
        <th style="width: 15%">Nama Pemilik</th>
        <th style="width: 15%">Ulasan</th>
        <th style="width: 15%">Peringkat</th>
        <th style="width: 15%">Kategori</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let review of reviews">
        <td>{{review.Namatugas}}</td>
        <td>{{review.OwnerName}}</td>
        <td>{{review.Review}}</td>
        <td>{{review.Rate}}</td>
        <td>{{review.Category}}</td>
      </tr>
      <tr *ngIf="!reviews">
        <td colspan="4" class="text-center">
          <span class="spinner-border spinner-border-lg align-center"></span>
        </td>
      </tr>
    </tbody>
  </table>
</div>