<div *ngFor="let service of services">
  <h1>
    {{service.ServicesName}}
  </h1>
</div>
<div *ngFor="let service of services" style="margin-top: 60px">
  <div class="row">
    <div class="col">
      <h4>Nama Pemilik</h4>
    </div>
    <div class="col">
      <button type="button" class="btn-secondary" routerLink="/profile/{{service.OwnerID}}">Profile {{ service.OwnerName
        }}</button>
    </div>
  </div>
  <div>
    <p style="font-size: 20px">{{service.OwnerName}}</p>
  </div>
  <div>
    <h4>Kategori</h4>
    <p style="font-size: 20px">{{service.Category}}</p>
  </div>
  <div>
    <h4>Harga</h4>
    <p style="font-size: 20px">Rp.{{service.Price}},-</p>
  </div>
  <div>
    <h4>Durasi Pengerjaan (Hari)</h4>
    <p style="font-size: 20px">{{service.Duration}}</p>
  </div>
  <div>
    <h4>Deskripsi Pekerjaan</h4>
    <p style="font-size: 15px">{{service.Remarks}}</p>
  </div>

  <img [src]="imageSrc" *ngIf="imageSrc" style="height: 700px; width:700px">

  <div class="d-flex justify-content-end" style="margin-top: 20px">
    <a *ngIf="userId != services[0].OwnerID" (click)="takeServices(service._id,service.Category)"
      class="btn btn-md btn-primary mr-1">Ambil Service</a>
    <a routerLink="/service" class="btn btn-md btn-danger mr-1">Kembali</a>
  </div>
</div>