<div class="card">
  <h4 class="card-header">Ganti Kata Sandi</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="PrevPassword">Kata Sandi Lama</label>
        <input type="password" placeholder="Masukan Kata Sandi Lama Anda" formControlName="PrevPassword" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.PrevPassword.errors }" />
        <div *ngIf="submitted && f.PrevPassword.errors" class="invalid-feedback">
          <div *ngIf="f.PrevPassword.errors.required">Masukan Kata Sandi Lama Anda</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Kata Sandi</label>
        <input type="password" formControlName="password" placeholder="Masukan Kata Sandi" class="form-control"
               [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Kata Sandi Harus Diisi</div>
          <div *ngIf="f.password.errors.minlength">Kata Sandi Minimal 6 Character</div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Ketik Ulang Kata Sandi</label>
        <input type="password" formControlName="confirmPassword" placeholder="Ketik Ulang Kata Sandi Anda"
               class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.confirmPassword.errors.required">Ketik Ulang Kata Sandi Harus Diisi</div>
          <div *ngIf="f.confirmPassword.errors.mustMatch">Kata Sandi Harus Sama</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Ganti Password
        </button>
        <a routerLink="/profile" class="btn btn-link">Batal</a>
      </div>
    </form>
  </div>
</div>
