<h1>Proyek Saya</h1>
<a routerLink="../project/add" class="btn btn-sm btn-success mb-2">Tambah Proyek</a>
<table class="table table-striped" >
  <thead>
  <tr>
    <th style="width: 15%">Nama Pemilik</th>
    <th style="width: 15%">Kategori</th>
    <th style="width: 15%">Nama Proyek</th>
    <th style="width: 15%">Harga</th>
    <th tooltip="Berapa Lama Project Akan Muncul di List" autoPlacement="true" style="width: 15%">Tenggat Waktu</th>
    <th style="width: 15%">Durasi Pengerjaan</th>
    <th style="width: 30%">Deskripsi Pekerjaan</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let project of pageOfItems">
    <td>{{project.OwnerName}}</td>
    <td>{{project.Category}}</td>
    <td>{{project.ProjectName}}</td>
    <td>Rp.{{project.Price}},-</td>
    <td>{{project.Deadline | date}}</td>
    <td>{{project.Duration}} Hari</td>
    <td>{{project.Remarks | truncate: 30}}</td>
    <td style="white-space: nowrap">
      <a routerLink="../project/detail/{{project._id}}" class="btn btn-sm btn-info mr-1">Detail</a>
      <a routerLink="../project/edit/{{project._id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
      <button (click)="deleteProjects(project._id)" class="btn btn-sm btn-danger btn-delete-user">
        Hapus
      </button>
    </td>
  </tr>
  <tr *ngIf="!projects">
    <td colspan="4" class="text-center">
      <span class="spinner-border spinner-border-lg align-center"></span>
    </td>
  </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
      <a (click)="setPage(1)" class="page-link">Pertama</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
      <a (click)="setPage(pager.currentPage - 1)" class="page-link">Sebelumnya</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item number-item">
      <a (click)="setPage(page)" class="page-link">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
      <a (click)="setPage(pager.currentPage + 1)" class="page-link">Selanjutnya</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
      <a (click)="setPage(pager.totalPages)" class="page-link">Terakhir</a>
    </li>
  </ul>
</div>

<!--    <jw-pagination [items]="projects" (changePage)="onChangePage($event)"></jw-pagination>-->
