<h1>Jasa Saya</h1>
<a routerLink="../services/add" class="btn btn-sm btn-success mb-2">Tambah Jasa</a>
<table class="table table-striped">
  <thead>
  <tr>
    <th style="width: 15%">Nama Pemilik</th>
    <th style="width: 15%">Kategori</th>
    <th style="width: 15%">Nama Jasa</th>
    <th style="width: 15%">Durasi</th>
    <th style="width: 15%">Harga</th>
    <th style="width: 30%">Deskripsi Pekerjaan</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let service of pageOfItems">
    <td>{{service.OwnerName}}</td>
    <td>{{service.Category}}</td>
    <td>{{service.ServicesName}}</td>
    <td>{{service.Duration}} Hari</td>
    <td>Rp.{{service.Price}},-</td>
    <td>{{ service.Remarks | truncate: 30}}</td>
    <td style="white-space: nowrap">
      <a routerLink="../services/detail/{{service._id}}" class="btn btn-sm btn-info mr-1">Detail</a>
      <a routerLink="../service/services/edit/{{service._id}}" class="btn btn-sm btn-primary mr-1">Edit</a>
      <button (click)="deleteServices(service._id)" class="btn btn-sm btn-danger btn-delete-user" id="{{service._id}}">
        Hapus
      </button>
    </td>
  </tr>
  <tr *ngIf="!services">
    <td colspan="4" class="text-center">
      <span class="spinner-border spinner-border-lg align-center"></span>
    </td>
  </tr>
  </tbody>
</table>
<div class="d-flex justify-content-center">
  <ul *ngIf="pager.pages && pager.pages.length" class="pagination">
    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item first-item">
      <a (click)="setPageMyServices(1)" class="page-link">Pertama</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === 1}" class="page-item previous-item">
      <a (click)="setPageMyServices(pager.currentPage - 1)" class="page-link">Sebelumnya</a>
    </li>
    <li *ngFor="let page of pager.pages" [ngClass]="{active:pager.currentPage === page}" class="page-item number-item">
      <a (click)="setPageMyServices(page)" class="page-link">{{page}}</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item next-item">
      <a (click)="setPageMyServices(pager.currentPage + 1)" class="page-link">Selanjutnya</a>
    </li>
    <li [ngClass]="{disabled:pager.currentPage === pager.totalPages}" class="page-item last-item">
      <a (click)="setPageMyServices(pager.totalPages)" class="page-link">Terakhir</a>
    </li>
  </ul>
</div>
