<div class="card">
  <h4 class="card-header">Masuk</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" formControlName="email" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Masukan Email Anda</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Kata Sandi</label>
        <input type="password" formControlName="password" class="form-control"
          [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Masukan Kata Sandi Anda</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Masuk
        </button>
        <a routerLink="../../" style="text-align: end" class="btn btn-link">Cancel</a>
        <a routerLink="../forgotpassword" style="justify-items: end" class="btn btn-link">Lupa Kata Sandi</a>
      </div>
      <div class="form-group">
        <a routerLink="../emailverify" style="padding-left: 0px" class="btn btn-link">Verifikasi Email Disini</a>
      </div>
      <div class="form-group">
        <a routerLink="../register" style="padding-left: 0px" class="btn btn-link">Daftar Disini</a>
      </div>
    </form>
  </div>
</div>