<div class="card">
  <h4 class="card-header">Register</h4>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="firstName">Nama Depan</label>
        <input type="text" placeholder="Masukan Nama depan" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Nama Depan Harus Diisi</div>
        </div>
      </div>
      <div class="form-group">
        <label for="lastName">Nama Belakang</label>
        <input type="text" placeholder="Masukan Nama Belakang" formControlName="username" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
          <div *ngIf="f.username.errors.required">Nama Belakang Harus Diisi</div>
        </div>
      </div>
      <div class="form-group">
        <label for="gender">Jenis Kelamin</label>
        <select formControlName="gender" placeholder="Pilih Jenis Kelamin" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.gender.errors?.required }">
          <option value="">Pilih Jenis Kelamin</option>
          <option value="male">Laki-laki</option>
          <option value="female">Perempuan</option>
        </select>
      </div>
      <div class="form-group">
        <label for="ktp">KTP</label>
        <input type="text" placeholder="Ketik 16 Digit Nomor KTP" formControlName="ktp" pattern="^[0-9]{16,16}$" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.ktp.errors }" />
        <div *ngIf="submitted && f.ktp.errors" class="invalid-feedback">
          <div *ngIf="f.ktp.errors.required">KTP Harus Diisi</div>
          <div *ngIf="f.ktp.errors.minlength">KTP Harus 16 Digit Angka</div>
          <div *ngIf="f.ktp.errors.maxlength">KTP Harus 16 Digit Angka</div>
        </div>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" placeholder="Masukan Email Anda" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">Email Harus Diisi</div>
          <div *ngIf="f.email.errors.email">Masukan Email yang Valid</div>
        </div>
      </div>
      <div class="form-group">
        <label for="phone">Nomor Handphone</label>
        <input type="text" formControlName="phone" placeholder="Masukan Nomor Handphone yang Aktif" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }" />
        <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
          <div *ngIf="f.phone.errors.required">Nomor Telepon Harus Diisi</div>
        </div>
      </div>
      <div class="form-group">
        <label for="linkedin">Link Linkedin</label>
        <input type="text" formControlName="linkedin" placeholder="Masukan Link Linkedin anda" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.linkedin.errors }" />
        <div *ngIf="submitted && f.linkedin.errors" class="invalid-feedback">
          <div *ngIf="f.linkedin.errors.required">Linkedin Harus Diisi</div>
        </div>
      </div>
      <div class="form-group">
        <label for="workcat">Preferensi Pekerjaan</label>
        <select formControlName="workcat" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.workcat.errors?.required }">
          <option value="">Pilih Preferensi Pekerjaan yang Anda Inginkan</option>
          <option value="Audio, Video, Photography">Audio, Video, Photography</option>
          <option value="Games Development">Games Development</option>
          <option value="Website Development">Website Development</option>
          <option value="3D modeling & Animation">3D modeling & Animation</option>
          <option value="others">others</option>
        </select>
      </div>
      <div class="form-group">
        <label for="tanggallahir">Tanggal Lahir</label>
        <input type="date" formControlName="tanggallahir"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tanggallahir.errors }" />
        <div *ngIf="submitted && f.tanggallahir.errors" class="invalid-feedback">
          <div *ngIf="f.tanggallahir.errors.required">Tanggal Lahir Harus Diisi</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Kata Sandi</label>
        <input type="password" formControlName="password" placeholder="Masukan Kata Sandi" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Kata Sandi Harus Diisi</div>
          <div *ngIf="f.password.errors.minlength">Kata Sandi Minimal 6 Character</div>
        </div>
      </div>
      <div class="form-group">
        <label for="confirmPassword">Ketik Ulang Kata Sandi</label>
        <input type="password" formControlName="confirmPassword" placeholder="Ketik Ulang Kata Sandi Anda"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.confirmPassword.errors.required">Ketik Ulang Kata Sandi Harus Diisi</div>
          <div *ngIf="f.confirmPassword.errors.mustMatch">Kata Sandi Harus Sama</div>
        </div>
      </div>
      <div class="form-group">
        <label for="remarks">Masukan Kemampuan Anda</label>
        <textarea type="text" formControlName="remarks" placeholder="Berikan Penjelasan Tentang Anda"  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.remarks.errors }" ></textarea>
        <div *ngIf="submitted && f.remarks.errors" class="invalid-feedback">
          <div *ngIf="f.remarks.errors.required">Email Harus Diisi</div>
        </div>
      </div>
      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Register
        </button>
        <a routerLink="../login" class="btn btn-link">Batal</a>
      </div>
    </form>
  </div>
</div>
